
  <div class="application-success-message-container">
    <div class="app-success-wrapper">
      <div class="logo-container">
        <img class="vuesaxboldtick-circle-icon1" src="../../../assets/images/g4l-logo 1.svg">
      </div>

      <div class="success-message-content">
        <div class="success-symbol">
          <i class="fa-solid fa-circle-check"></i>
          <div class="congratulations">Congratulations!</div>
        </div>
        <div class="success-message-header">
          <h3>
            You have successfully applied for a learnership!
          </h3>
        </div>
        <div class="congratulations-on-your-container">
          <p class="congratulations-on-your">
            "Congratulations on your successful entry into the Systems
            development, Software testing, Business Analysis learnership!
          </p>
          <p class="congratulations-on-your">
            Embrace this opportunity to learn, grow, and thrive in the world of
            technology. Exciting journey awaits!"
          </p>
        </div>
      </div>

      <div class="success-done-btn">
        <button id="done" (click)="onDoneClick()">Done</button>

      </div>
    </div>
  </div>

  